{% extends "base.html" %}
{% block title %}{{settings.Title}}{%endblock%}
{% block content %}

<style>
    [v-cloak] {
        display: none;
    }
</style>

<div id="adminroot" class="mx-2 px-4 sm:px-6 lg:px-8" v-cloak>


  <!-- NavMenu -->
  {% include "admin/navmenu.html" %}
  {% block objectcontent%}
  <div>
  Welcome to {{settings.Title}}
  <div>
  {% endblock %}
</div>

<script src="{{ settings.PetiteVueURL|default:'https://unpkg.com/petite-vue'}}"></script>
<script>
// builtin javascipt
{% include "admin/builtin.js" %}

const adminobject = {
  user:{{user|stringify}},
  objects:{{settings.Objects|stringify}},
  current:{{current|stringify|default:"null"}},
  prefix:'{{settings.Prefix}}',
}
PetiteVue.createApp(adminapp(adminobject)).mount('#adminroot')
// init data
</script>
{% endblock %}