<div>
    <ul>
        <li v-for="(group,idx) in navmenu" :key="idx">
            <a href="#">[[group.name]]</a>
            <ul>
            <li v-for="item in group.items" :key="item.path">
                <a :href="item.path" @click="switchobject(item)" :class="[item.selected ? 'text-cyan-500':'']">[[item.name]]</a>
            </li>
            </ul>
        </li>
    </ul>
</div>
<div>
    <span>Welcome, [[user.firstName]]</span>
    <a href="{{logout_url|default:'/auth/logout'}}?next={{settings.Prefix}}">Logout</a>
</div>