<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" sizes="32x32" href="{{.Site.FaviconUrl}}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Site.Name}}</title>
    <meta name="description" content="{{.Site.Description}}">
    <meta name="keywords" content="{{.Site.Keywords}}">
    <script src="//cdn.tailwindcss.com?plugins=forms"></script>
    <link href="//cdn.jsdelivr.net/npm/inter-ui@4.0.2/inter.min.css" rel="stylesheet" />
</head>
<style>
    :root {
        font-family: 'Inter', sans-serif;
    }

    @supports (font-variation-settings: normal) {
        :root {
            font-family: 'Inter var', sans-serif;
        }
    }
</style>

<body>
    <div id="sent_done" class="hidden flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <a href="/">
                <img class="mx-auto h-12 w-auto" src="{{.Site.LogoUrl}}" alt="{{.Site.Name}}">
            </a>
            <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Reset Password</h2>
        </div>

        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md ">
            <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                <h3 class="text-lg font-medium leading-6 text-gray-900">Please check your email</h3>
                <div class="mt-2 max-w-xl text-sm text-gray-500">A email has been send to <b id="next_mail">xx</b>.
                </div>
                <div class="mt-2 max-w-xl text-sm text-gray-500">
                    Please check for an email from <b>{{.Site.Admin}}</b> and click on the included link to reset your
                    password.
                </div>
                <div class="mt-3 text-sm">
                    <a href="/" class="font-medium text-indigo-600 hover:text-indigo-500">
                        Back to home
                        <span aria-hidden="true"> &rarr;</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="reset" class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <img class="mx-auto h-12 w-auto" src="{{.Site.LogoUrl}}" alt="{{.Site.Name}}">
            <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Reset Password</h2>
            <p class="mt-2 text-center text-sm text-gray-600">Enter your email address and we'll send you an email with
                instructions to reset your password.
            </p>
        </div>

        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
            <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                <form class="space-y-6" action="#" method="POST">
                    <div>
                        <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
                        <div class="mt-1">
                            <input id="email" name="email" type="email" autocomplete="email" required
                                class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                        </div>
                    </div>
                    <div>
                        <button type="submit"
                            class="flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                            Reset password
                        </button>
                        <div id="loading" class="grid place-content-center hidden">
                            <div class="flex items-center gap-2 text-gray-500">
                                <span class="h-6 w-6 block rounded-full border-4 border-t-blue-300 animate-spin"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="mt-6">
        <div class="relative">
            <div class="relative flex justify-center text-sm">
                <span class="bg-white px-2 text-gray-500">Back to
                    <a href="{{.Site.SigninUrl}}" class="underline">Sign In</a></span>
            </div>
        </div>
    </div>
    <script>
        var form = document.querySelector('form');
        var toggleLoading = () => {
            document.querySelector('button').classList.toggle('hidden')
            document.querySelector('#loading').classList.toggle('hidden')
        }

        form.addEventListener("submit", (e) => {
            e.preventDefault();
            toggleLoading();

            fetch('{{.Site.ResetPasswordUrl}}', {
                method: 'POST',
                body: JSON.stringify({
                    'email': document.querySelector('#email').value,
                })
            }).then((resp) => {
                toggleLoading();
                document.querySelector('#next_mail').textContent = document.querySelector('#email').value;
                document.querySelector('#reset').classList.add('hidden')
                document.querySelector('#sent_done').classList.remove('hidden')
            })
        });
    </script>


</body>

</html>