<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" sizes="32x32" href="{{.Site.FaviconUrl}}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Site.Name}}</title>
    <meta name="description" content="{{.Site.Description}}">
    <meta name="keywords" content="{{.Site.Keywords}}">
    <script src="//cdn.tailwindcss.com?plugins=forms"></script>
    <link href="//cdn.jsdelivr.net/npm/inter-ui@4.0.2/inter.min.css" rel="stylesheet" />
</head>
<style>
    :root {
        font-family: 'Inter', sans-serif;
    }

    @supports (font-variation-settings: normal) {
        :root {
            font-family: 'Inter var', sans-serif;
        }
    }
</style>

<body>

    <div id="reset_done" class="hidden flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <a href="/">
                <img class="mx-auto h-12 w-auto" src="{{.Site.LogoUrl}}" alt="{{.Site.Name}}">
            </a>
            <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Reset Password </h2>
        </div>

        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md ">
            <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                <h3 class="text-lg font-medium leading-6 text-gray-900">Your password is updated</h3>
                <div class="mt-2 max-w-xl text-sm text-gray-500">Please login with new password.
                </div>
                <div class="mt-3 text-sm">
                    <a href="/" class="font-medium text-indigo-600 hover:text-indigo-500">
                        Back to home
                        <span aria-hidden="true"> &rarr;</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="reset" class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <img class="mx-auto h-12 w-auto" src="{{.Site.LogoUrl}}" alt="{{.Site.Name}}">
            <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Reset Password</h2>
            <p class="mt-2 text-center text-sm text-gray-600">
                Enter your new password.
                </a>
            </p>
        </div>

        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
            <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                <div id="error" class="rounded-md bg-red-50 p-4 hidden">
                    <div class="flex">
                        <div class="flex-shrink-0">
                            <!-- Heroicon name: mini/x-circle -->
                            <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
                        <div class="ml-3">
                            <h3 id="reason" class="text-sm font-medium text-red-800"></h3>
                        </div>
                    </div>
                </div>
                <form class="space-y-6" action="#" method="POST">
                    <div>
                        <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                        <div class="relative mt-1 rounded-md shadow-sm">
                            <input id="password" name="password" type="password" autocomplete="current-password"
                                required
                                class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                            <div class="hidden pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3"
                                id="password-error">
                                <!-- Heroicon name: mini/exclamation-circle -->
                                <svg class="h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                    fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                        </div>
                        <p class="hidden mt-2 text-sm text-red-600" id="password-reason">Your password must be more than
                            5
                            characters.
                        </p>
                    </div>

                    <div>
                        <button type="submit"
                            class="flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                            Reset password
                        </button>
                        <div id="loading" class="grid place-content-center hidden">
                            <div class="flex items-center gap-2 text-gray-500">
                                <span class="h-6 w-6 block rounded-full border-4 border-t-blue-300 animate-spin"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="mt-6">
        <div class="relative">
            <div class="relative flex justify-center text-sm">
                <span class="bg-white px-2 text-gray-500">Back to
                    <a href="{{.Site.SigninUrl}}" class="underline">Sign In</a></span>
            </div>
        </div>
    </div>

    <script>
        var form = document.querySelector('form');
        var toggleLoading = () => {
            document.querySelector('button').classList.toggle('hidden')
            document.querySelector('#loading').classList.toggle('hidden')
        }
        var showError = (sel, reason) => {
            document.querySelector(`#${sel}`).classList.remove('border-gray-300')
            document.querySelector(`#${sel}`).classList.add('border-red-300')
            document.querySelector(`#${sel}-error`).classList.remove('hidden')
            document.querySelector(`#${sel}-reason`).classList.remove('hidden')
            if (reason) {
                document.querySelector(`#${sel}-reason`).textContent = reason
            }
        }
        var hideError = (sel) => {
            document.querySelector(`#${sel}`).classList.add('border-gray-300')
            document.querySelector(`#${sel}`).classList.remove('border-red-300')
            document.querySelector(`#${sel}-error`).classList.add('hidden')
            document.querySelector(`#${sel}-reason`).classList.add('hidden')
        }

        form.addEventListener("submit", (e) => {
            hideError('password')

            e.preventDefault();
            var password = document.querySelector('#password').value
            if (password.length <= 5) {
                showError('password')
                return
            }

            fetch('{{.Site.ResetPasswordDoneUrl}}', {
                method: 'POST',
                body: JSON.stringify({
                    'token': '{{.Token}}',
                    'email': '{{.Email}}',
                    'password': document.querySelector('#password').value,
                })
            }).then((resp) => {
                toggleLoading();
                if (resp.status == 200) {
                    document.querySelector('#reset').classList.add('hidden')
                    document.querySelector('#reset_done').classList.remove('hidden')
                } else {
                    resp.json().then((data) => {
                        showError('password', data.error)
                    })
                }
            });
        });
    </script>

</body>

</html>