<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" sizes="32x32" href="{{favicon_url}}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{{sitename}}{%endblock%}</title>
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    {% block extra_css %}{% endblock %}
</head>
<style>
    :root {
        font-family: 'Inter', sans-serif;
    }

    @supports (font-variation-settings: normal) {
        :root {
            font-family: 'Inter var', sans-serif;
        }
    }
</style>

<body>
    {% block content %}{% endblock %}
    {% block footer %}
    {% include "footer.html" %}
    {% endblock %}
</body>
{% if maincss_url %}
<link href="{{maincss_url}}" rel="stylesheet" type="text/css">
{% else %}
<script src="https://cdn.tailwindcss.com/3.1.8"></script>
{% endif %}
{%if ga%}
<script>
    let scriptElement = document.createElement('script');
    scriptElement.async = true
    document.body.appendChild(scriptElement);
    scriptElement.src = `https://www.googletagmanager.com/gtag/js?id={{ga}}`
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', '{{ga}}');
</script>
{% endif %}
{% block extra_js %}{% endblock %}

</html>